table {
    border-collapse: collapse;
    width: 80%;
    border: 1px solid #ccc;
    position: relative;
    top: 130px;
    margin-left: auto;
    margin-right: auto;
}

table 
tr 
td {
    height: 50px;
}

td:nth-child(2){
    padding-left: 10px;
}

table tr:nth-child(odd){
    background-color: #f1f1f1;
}

table tr{
    border-bottom: 1px solid #ddd;
}

.light-grey {
    background-color: #f1f1f1;
}

.white {
    background-color: #ffffff;
}

.blue-hover:hover {
    background-color: #2196F3;
}

.checkbox{
    position: relative;
    top: 16px;
    left: 16px;
}

.align-buttons{
    position: relative;
    top: 97px;
    width: fit-content;
    left: 10%;
}

.main-button{
    background-color: #4CAF50;
    color: #fff;
    border: none;
    font-size: 16px;
    height: 32px;
    width: 79px;
    border: 1px solid #4CAF50;
    outline: none;
}

.main-button:hover {
    color: #fff;
    background-color: #4CAF50;
    transform: scale(1.1);
}

.single-button {
    background-color: #4CAF50;
    color: #fff;
    border: 1px solid #4CAF50;
    outline: none;
}

.single-button:hover {
    color: #fff;
    background-color: #4CAF50;
    transform: scale(1.1);
}

.textArea {
    width: 36%;
    height: 27px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: none;
    position: relative;
    top: 9px;
    outline: none;
    left: 32px;
}

.heading {
    font-weight: 500;
    font-size: 17px;
}

.okButton{
    position: relative;
    left: 43px;
    background-color: #e02020;
    color: #ffffff;
    border: 1px solid #e02020;
    outline: none;
    width: 37px;
    height: 23px;
}

.cancelButton {
    position: relative;
    left: 54px;
    background-color: #fff;
    color: #000;
    border: 1.5px solid lightgray;
    outline: none;
    width: 59px;
    height: 23px;
}

.chooseFile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
}